/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 * {
     margin: 0;
     padding: 0;
     outline: none;
     box-sizing: border-box;
 }

 header {
     background-color: rgb(140, 193, 193);
     border-bottom: 1px solid rgba(0,0,0,.15);
     display: flex;
     flex-direction: column;
     text-align: center;
     z-index: 1;
 }

header > div#logo {
     line-height: 70px;
     position: relative;
 }

 header > .menuDown {
     box-shadow: 0 3px 5px rgba(0,0,0,.15);
 }

 header > .menuUp {
     box-shadow: none;
 }

header > div#logo > h1 {
   color: white;
   font-weight: 300;
   text-transform: lowercase;
}

 header > div#logo > div#navToggle {
     background-color: rgba(0,0,0,.15);
     position: absolute;
     right: 0;
     top: 0;

 }

 header > div#logo > div#navToggle:hover {
     background-color: rgba(0,0,0,.1);
 }

 header > div#logo > div#navToggle > a {
     color: rgba(255,255,255,.85);
     display: block;
     font-size: 0.85em;
     font-weight: 600;
     text-decoration: none;
     transition: 300ms all ease;
 }

 header > div#logo > div#navToggle:hover > a {
     color: rgba(255,255,255,1);
 }

 header > nav {
     background-color: white;
     display: none;
     flex: 1;
     transform: 300ms all ease;
 }

 header nav > ul {
     list-style-type: none;
 }

 header nav > ul > li {
     border-bottom: 1px dotted rgba(0,0,0,.1);
     position: relative;
 }

 header nav > ul > li:last-of-type {
     border-bottom: none;
 }

 header nav > ul > li > a {
     display: block;
     color: rgba(0,0,0,.65);
     font-weight: 700;
     padding: 1.5rem 0;
     text-decoration: none;
     transition: 250ms all ease;
 }

header nav > ul > li > a span.toggle {
	background-color: rgba(0,0,0,.05);
	border-radius: 3rem;
	color: rgba(0,0,0,.25);
	font-size: 0.75em;
	font-weight: 500;
	padding: 2px 8px;
	text-transform: lowercase;
}

header nav > ul > li > a span.caret {
   display: none;
}

header > nav > ul > li:hover > a {
   color: rgb(140, 193, 193);
}

header > nav > ul > li > nav {
background-color: rgb(51,51,51);
border-radius: 1.5em;
box-shadow: 0 2px 8px rgba(0,0,0,.6);
display: none;
overflow: hidden;
position: absolute;
right: 5%;
width: 90%;
z-index: 1;
}

header > nav > ul > li > nav > ul > li > a {
color: rgba(255,255,255,.85);
transition: 300ms all ease;
}

header > nav > ul > li > nav > ul > li:hover > a {
   background-color: rgba(0,0,0,.6);
   color: rgba(255,255,255,1);
}

 /* Medium screens */
@media all and (min-width: 600px) {
header > div#logo > div#navToggle {
display: none;
}

header {
background-color: white;
flex-direction: row;
padding: 0 3rem;
position: fixed;
text-align: left;
width: 100%;
}

header > div#logo {
background-color: transparent;
line-height: 90px;
}

header > div#logo > h1 {
color: rgb(140, 193, 193);
}

header > nav {
background-color: transparent;
display: block;
}

header > nav > ul {
display: flex;
flex-flow: row wrap;
justify-content: flex-end;
}

header nav > ul > li {
border-bottom: none;
}

header nav > ul > li > a {
padding: 0 1.25rem;
}

header nav > ul > li > a span.toggle {
display: none;
}

header nav > ul > li > a span.caret {
border-bottom: 4px solid transparent;
border-top: 4px solid rgba(0,0,0,.65);
border-right: 4px solid transparent;
border-left: 4px solid transparent;
border-radius: 1px;
content: "";
display: inline-block;
height: 0;
margin: 0 0 0 .25rem;
transition: 250ms all ease;
width: 0;
vertical-align: middle;
}

header nav > ul > li:hover > a span.caret {
border-top-color: rgb(140, 193, 193);
transform: rotate(270deg);
}

header > nav > ul > li:hover > nav {
background-color: rgb(51,51,51);
border-radius: .25em;
box-shadow: 0 2px 8px rgba(0,0,0,.6);
display: block;
line-height: 3em;
right: -50%;
width: 196px;
}
}

/* ==========================================================================
   Parallax Floorboards Image
   ========================================================================== */

   .parallax {
       /* The image used */
       background-image: url("../img/shiplap.jpeg");

       /* Set a specific height */
       min-height: 500px;

       /* Create the parallax scrolling effect */
       background-attachment: fixed;
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
   }

/* ==========================================================================
   Contact Form Styles
   ========================================================================== */

   * {
   	margin:0;
   	padding:0;
   	box-sizing:border-box;
   	-webkit-box-sizing:border-box;
   	-moz-box-sizing:border-box;
   	-webkit-font-smoothing:antialiased;
   	-moz-font-smoothing:antialiased;
   	-o-font-smoothing:antialiased;
   	font-smoothing:antialiased;
   	text-rendering:optimizeLegibility;
   }

   body {
   	font-family:"Open Sans", Helvetica, Arial, sans-serif;
   	font-weight:300;
   	font-size: 12px;
   	line-height:30px;
   	color:#777;
   	background:#0CF;
	  height:4600px;
}
   }

   .container {
   	max-width:400px;
   	width:100%;
   	margin:0 auto;
   	position:relative;
   }

   #contact input[type="text"], #contact input[type="email"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

   #contact {
   	background:#F9F9F9;
   	padding:25px;
   	margin:50px 0;
    z-index: 4;
   }

   #contact h3 {
   	color: #F96;
   	display: block;
   	font-size: 30px;
   	font-weight: 400;
   }

   #contact h4 {
   	margin:5px 0 15px;
   	display:block;
   	font-size:13px;
   }

   fieldset {
   	border: medium none !important;
   	margin: 0 0 10px;
   	min-width: 100%;
   	padding: 0;
   	width: 100%;
   }

   #contact input[type="text"], #contact input[type="email"], #contact textarea {
   	width:100%;
   	border:1px solid #CCC;
   	background:#FFF;
   	margin:0 0 5px;
   	padding:10px;
   }

   #contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact textarea:hover {
   	-webkit-transition:border-color 0.3s ease-in-out;
   	-moz-transition:border-color 0.3s ease-in-out;
   	transition:border-color 0.3s ease-in-out;
   	border:1px solid #AAA;
   }

   #contact textarea {
   	height:100px;
   	max-width:100%;
     resize:none;
   }

   #contact button[type="submit"] {
   	cursor:pointer;
   	width:100%;
   	border:none;
   	background:#0CF;
   	color:#FFF;
   	margin:0 0 5px;
   	padding:10px;
   	font-size:15px;
   }

   #contact button[type="submit"]:hover {
   	background:#09C;
   	-webkit-transition:background 0.3s ease-in-out;
   	-moz-transition:background 0.3s ease-in-out;
   	transition:background-color 0.3s ease-in-out;
   }

   #contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

   #contact input:focus, #contact textarea:focus {
   	outline:0;
   	border:1px solid #999;
   }
   ::-webkit-input-placeholder {
    color:#888;
   }
   :-moz-placeholder {
    color:#888;
   }
   ::-moz-placeholder {
    color:#888;
   }
   :-ms-input-placeholder {
    color:#888;
   }


 /* ==========================================================================
    Site content
    ========================================================================== */
.divider{
  padding-left: 40px;
  z-index: 1;
}

#about1 {
  padding-left: 40px;
  padding-right: 40px;
  z-index: 1;
}
#about2 {
  padding-left: 40px;
  padding-right: 40px;
  z-index: 1;
}
#about3 {
  padding-left: 40px;
  padding-right: 40px;
  z-index: 1;
}
#about4 {
  padding-left: 40px;
  padding-right: 40px;
  z-index: 1;
}
#about {
  padding-left: 40px;
  padding-bottom: 100px;
  z-index: 1;
}
 /* ==========================================================================
    Parallax Clouds
    ========================================================================== */



/* background middle layer*/
div#parallax-bg-2{
	position: fixed;
	width: 1200px;
	top: 0;
	left: 50%;
	margin-left: -600px;
	z-index: 3;
}
/* background layer */
div#parallax-bg-3{
	position: fixed;
	width: 960px;
	top: 0;
	left: 50%;
	margin-left: -470px;
	z-index: 4;
}

/* foreground (content)*/
div#parallax-bg-1{
	position: fixed;
	width: 1200px;
	top: 0;
	left: 50%;
	margin-left: -600px;
	z-index: 2;
}

/* foreground */
div#parallax-bg-3{
	background-repeat:no-repeat;
	display:block;
	overflow:hidden;


}
div .bg-3-1{
	width:529px;
	height:757px;
	top: 100px;
	right:300px;

}
div#bg-3-2{
	width:603px;
	height:583px;
	top:1050px;
	right:70px;
}
div#bg-3-3{

	height:713px;
	top:1800px;
	right:140px;
}
div#bg-3-4{
	width:1104px;
	height:684px;
	top:2800px;
	right:0px;
}

div#bg-3-5{
	width:1104px;
	height:684px;
	top:3200px;
	right:0px;
}

/* middle layer clouds */
div#parallax-bg-2 div{
	background-repeat:no-repeat;
	position:absolute;
	display:block;
	width:488px;
	height:138px;
	overflow:hidden;

}

div#bg-2-1{
  background:url('../img/cloud1-light.png');
	top:100px;
	left:-180px;
}
div#bg-2-2{
  background:url('../img/cloud2-light.png');
	top:270px;
	right:-70px;
}
div#bg-2-3{
  background:url('../img/cloud3-light.png');
	top:870px;
	left:-300px;
}
div#bg-2-4{
  background:url('../img/cloud1-light.png');
	top:1120px;
	right:-130px;
}
div#bg-2-5{
  background:url('../img/cloud5-light.png');
	top:1620px;
	left:140px;
}


/*background layer clouds */
div#parallax-bg-1 div{
	background-repeat:no-repeat;
	position:absolute;
	display:block;
	width:488px;
	height:138px;
	overflow:hidden;
}
div#bg-1-1{
	background:url('../img/cloud1-blue.png');
	top:200px;
	right:450px;
}
div#bg-1-2{
	background:url('../img/cloud2-blue.png');
	top:420px;
	left:0px;
}
div#bg-1-3{
	background:url('../img/cloud3-blue.png');
	top:850px;
	right:-290px;
}
div#bg-1-4{
	background:url('../img/cloud1-blue.png');
	top:1350px;
	left:200px;
}
div#bg-1-5{
	background:url('../img/cloud5-blue.png');
	top:1200px;
	left:-200px;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
